
body{
  background-color: #231F1F;
  font-family: Verdana;
font-size: 24px;
color: white;
}
#div{
  text-align: center;
}
#des{
  border-width: thick;
  border-color: red;
    border-style: groove;
    color: white;
    background-color: red;
    text-align: center;
    font-size: 40px;
}

#footerinesperado{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: red;
  color: black;
  text-align: center;
}

#Download img{
  width: 10%;
  float: right;
  margin: 0px 0px 0px 9px;
}
#Download{
  width: 57%;
  text-align: right;
  float: right;
  border-style: groove;
  border-color: red;
  border-width: 20px;
}
#otro{
  float: left;
}
.col-xs-2col-md-6{
  display:
}
h1{
  font-size: 35px;
  background-color: red;
  color: black;
  border-style: groove;
  border-color: black;
  border-width: thick;
